/* Reduce header font sizes */
h1 { font-size: 1.5em; }
h2 { font-size: 1.17em; }
h3 { font-size: 1.12em; }
h4 { font-size: .83em; }
h5 { font-size: .75em; }
h6 { font-size: 0.67em; }

#top, div.header, div.contents, address.footer, hr.footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}

#MSearchBox {
    position: relative;
    float: right;
}
